{% extends 'base.html' %}
{% block content %}
<h2 class="text-center">Welcome, {{ session['username'] }}!</h2>
<p class="text-center">Select an option below:</p>
<div class="d-flex justify-content-center">
    <ul class="list-group w-50">
        <li class="list-group-item"><a href="/menu">Manage Menu</a></li>
        <li class="list-group-item"><a href="/reservations">Manage Reservations</a></li>
        <li class="list-group-item"><a href="/reviews">Manage Reviews</a></li>
        <li class="list-group-item"><a href="/tables">Manage Tables</a></li>
    </ul>
</div>
{% endblock %}
